@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html {
  height: 100%;
  color: gray;
}

h1 {
  font: 24px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: gray;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Cambria", serif;
  height: 100%;
}

.loading-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;

  text-align: center;
  align-items: center;
  justify-content: center;
}

a {
  color: #00B7FF;
}

img {
  vertical-align: middle;
  border-radius: 10px;
  max-height: 420px;
  width: auto;
}

input[type="file"], input[type="submit"] {
  display: none;
}

.container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.haiku-image-container {
  margin: 0 1em 1em;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius: 10px;
  max-width: 500px;
}

.haiku-image-container--hidden {
  visibility: hidden;
  position: absolute;
}

.file-form {
  display: flex;
  justify-content: center;
  margin: 0.8em;
}

.file-upload, .file-submit {
  background: grey;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  color: white;
  text-transform: lowercase;
  margin: 0 1em;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  /* }

  .poem {
    order: 2;
    justify-content: flex-start;
  }

  .picture {
    justify-content: flex-end;
    order: 1;
  } */
}